[submodule "client/dependencies/requirejs"]
	path = client/dependencies/requirejs
	url = https://github.com/dwsmorris/requirejs
[submodule "client/dependencies/text"]
	path = client/dependencies/text
	url = https://github.com/requirejs/text
[submodule "client/dependencies/worker"]
	path = client/dependencies/worker
	url = https://github.com/dwsmorris/worker
[submodule "client/dependencies/lodash"]
	path = client/dependencies/lodash
	url = https://github.com/lodash/lodash
[submodule "client/dependencies/matchesjs"]
	path = client/dependencies/matchesjs
	url = https://github.com/dwsmorris/matches.js
[submodule "client/dependencies/jasmine"]
	path = client/dependencies/jasmine
	url = https://github.com/jasmine/jasmine
[submodule "client/dependencies/underscore-contrib"]
	path = client/dependencies/underscore-contrib
	url = https://github.com/documentcloud/underscore-contrib
[submodule "client/dependencies/lazy"]
	path = client/dependencies/lazy
	url = https://github.com/dtao/lazy.js
[submodule "client/dependencies/lazy-array"]
	path = client/dependencies/lazy-array
	url = https://github.com/dwsmorris/lazy-array
[submodule "client/dependencies/immutable-js"]
	path = client/dependencies/immutable-js
	url = https://github.com/facebook/immutable-js/
[submodule "client/dependencies/highland"]
	path = client/dependencies/highland
	url = https://github.com/caolan/highland
[submodule "client/dependencies/ramda"]
	path = client/dependencies/ramda
	url = https://github.com/ramda/ramda
[submodule "client/dependencies/lodash-fp"]
	path = client/dependencies/lodash-fp
	url = https://github.com/lodash/lodash-fp
