[submodule "client/dependencies/requirejs"]
	path = client/dependencies/requirejs
	url = https://github.com/dwsmorris/requirejs
[submodule "client/dependencies/text"]
	path = client/dependencies/text
	url = https://github.com/requirejs/text
[submodule "client/dependencies/worker"]
	path = client/dependencies/worker
	url = https://github.com/dwsmorris/worker
[submodule "client/dependencies/lodash"]
	path = client/dependencies/lodash
	url = https://github.com/lodash/lodash
